/*********************Style CSS of modal 1 (Delete works)*******************************/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* align the div in the center*/
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #060606;
    box-sizing: border-box;
    overflow: auto;
}

.modal-wrapper{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 630px;
    height: 688px;
    border-radius: 10px ;
    padding: 20px;
}

.modal-wrapper2{
    background-color: white;
    display: none;
    flex-direction: column;
    width: 630px;
    height: 688px;
    border-radius: 10px ;
    padding: 20px;
}

.icon-cross{
    margin-left: auto;
    text-align: end;
    cursor: pointer;
}

#title-modal{
    color: #000000;
    font-size: 26px;
    font-weight: 400;
    line-height: 30.5px;
}
.gallery-modal {
	width: 420px;
	display: grid;
	grid-template-columns: 77px 77px 77px 77px 77px;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 60px;
    border-bottom: solid 1px #B3B3B3;
}

.gallery-modal img {
	width: 100%;
    position: relative;
    
}

.trash-icons {
    text-align: center;
    align-content: center;
    font-size: 9px;
    position: relative;
    bottom: 83%;
    left: 75%;
    color: white;
    background-color: #060606;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    cursor: pointer;
}

.btn {
    width: 237px;
    height: 36px;
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    text-align: center;
    align-content: center;
    border-radius: 60px;
    cursor: pointer;
}

#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;
    height: 36px;
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #A7A7A7;
    border: inherit;
    margin: 2em auto;
    align-content: center;
    border-radius: 60px;
    cursor: pointer;
}

.btn:hover{
    background-color: #0E2F28;
}

#btn:hover{
    background-color: #0E2F28;
}
.images-modal-one{/* make all new img in the same side in the modal delet*/
    height: 102.58px;
    object-fit: cover;
}

.btn-submit{
    margin-top: 45px;
    border-top: #B3B3B3 solid 1px;
}
/*********************Style CSS of modal 2 (Add works)*******************************/
.modal-wrapper2{
    display: none;
    align-items: center;
    justify-content: space-between;
}
.icons-groups{
    display: flex;
    width: 100%;
    cursor: pointer;
}

.arrow-left{
    margin-right: auto;
}

.upload-picture{
    width: 420px;
    height: 169px;
    border-radius: 3px;
    background-color: #E8F1F6;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploaded{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-image{
    font-size: 76px;
    color: #B9C5CC;
    padding: 9.5px 3.93px 6.88px 3.93px;
}

.btn-add-pics{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 36px;
    color: #306685;
    background-color: #CBD6DC;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 5px;
}

.jpg-txt{
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.73px;
    text-align: center;

}

.btn-add-pics:hover{
    background-color: #d2dee4;
    box-shadow: 0px 2px 4px #306685;
}

.active-btn:active {
    width: 230px;
    box-shadow: rgb(204, 219, 232, 0.3) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.3) -3px -3px 6px 1px inset;
}

#btn:active{
    width: 230px;
}

.btn-add-pics:active{
    width: 163px;
}
/* Styles input add pics*/

form{
    color: #3D3D3D;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 420px;
}

.input-add-pics{
    margin-top: 15px;
    width: 100%;
    height: 51px;
    border: none;
    box-shadow: 0px 4px 14px 0px #00000017;

}

.input-add-pics:hover{
    box-shadow: 0px 2px 8px 0px #578ba98b;
}

#new-work-pics{
    display: none;
}

.image-src{
    width: 129px;
    height: 193px;
    object-fit: cover;
}
/************************* timer CSS ****************************************/

.output{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background: #E8F1F6;
    padding: 20px;
    width: 420px;
    height: 100px;
    font-size: 20px;
    color: white;
}

.timer-animation {
	background: #ffffff;
    width: 100%;
    display: flex;
    height: 20px;
    animation: 5s slidein;
  }

@keyframes slidein {
	from {
	  transform: scaleX(0);
	}
	to {
	  transform: scaleX(1);
	}
  }

/************************************* Modal2 error message *****************/
.error{
    color: red;
    text-align: center;
    margin: 5px 0px;
}
